# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
#variable_bed_surfaces: ['smooth_1','texture_1']
# Length (in mm) of filament to load (bowden tubes will be longer).
#variable_load_length: 90.0
# Hide the Octoprint LCD menu since I don't use it.
variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [
#  {'name' : 'PLA',  'extruder' : 200.0, 'bed' : 60.0},
#  {'name' : 'PETG', 'extruder' : 230.0, 'bed' : 85.0},
#  {'name' : 'ABS',  'extruder' : 245.0, 'bed' : 110.0, 'chamber' : 60}]
# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 30 # This value works for most setups.

# Skip level and load saved mesh for current sheet (if found); False to disable.
variable_start_try_saved_surface_mesh: True

gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
  ADJUST_SURFACE_OFFSETS




# The following status macros are available (these go inside of your macros):
#
#    STATUS_READY
#    STATUS_OFF
#    STATUS_BUSY
#    STATUS_HEATING
#    STATUS_LEVELING
#    STATUS_HOMING
#    STATUS_CLEANING
#    STATUS_MESHING
#    STATUS_CALIBRATING_Z
#
# With additional macros for basic control:
#
#    SET_NOZZLE_LEDS_ON
#    SET_LOGO_LEDS_OFF
#    SET_NOZZLE_LEDS_OFF

  GCODE_ON_PRINT_STATUS STATUS=ready COMMAND="STATUS_READY" ARGS=0 WHEN=ALWAYS TYPE=ENTER

  GCODE_ON_PRINT_STATUS STATUS=cancelling,completing COMMAND="STATUS_OFF" ARGS=0 WHEN=ALWAYS TYPE=ENTER
  GCODE_ON_PRINT_STATUS STATUS=printing,pausing COMMAND="STATUS_BUSY" ARGS=0 WHEN=ALWAYS TYPE=ENTER
  GCODE_ON_PRINT_STATUS STATUS=purging COMMAND="STATUS_CLEANING" ARGS=0 WHEN=ALWAYS TYPE=ENTER

  GCODE_ON_PRINT_STATUS STATUS=chamber_heating,bed_heating COMMAND="STATUS_HEATING" ARGS=0 WHEN=ALWAYS TYPE=ENTER


  GCODE_ON_PRINT_STATUS STATUS=leveling_gantry COMMAND="STATUS_LEVELING" ARGS=0 WHEN=ALWAYS TYPE=ENTER
  GCODE_ON_PRINT_STATUS STATUS=homing COMMAND="STATUS_HOMING" ARGS=0 WHEN=ALWAYS TYPE=ENTER
  GCODE_ON_PRINT_STATUS STATUS=meshing COMMAND="STATUS_MESHING" ARGS=0 WHEN=ALWAYS TYPE=ENTER
  GCODE_ON_PRINT_STATUS STATUS=calibrating_z COMMAND="STATUS_CALIBRATING_Z" ARGS=0 WHEN=ALWAYS TYPE=ENTER

  #GCODE_ON_PRINT_STATUS STATUS=leveling_gantry COMMAND="G28" ARGS=0 WHEN=ALWAYS TYPE=LEAVE
  #GCODE_ON_PRINT_STATUS STATUS=ready,filament_load,filament_unload,bed_heating,chamber_heating,homing,leveling_gantry,calibrating_z,meshing,extruder_heating,purging,printing,pausing,cancelling,completing COMMAND="STATUS_TEST" ARGS=1 WHEN=ALWAYS TYPE=BOTH

[gcode_macro status_test]
variable_extruder: 0
gcode:
  M118 STATUS_TEST {rawparams}


# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
[include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: ~/printer_data/gcodes #~/gcode_files # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]
